<div class="container">

  <div class="row">
    <div  ng-hide="loaded">
    <img src="./images/loading.gif" class="ajax-loader"/>
</div>
    <div ng-repeat="product in data track by $index">
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-sm-3">
          <div class="blacky">
                      <h4>{{data[$index].key}}</h4>
           <p class="day">{{data[$index].k}}</p>
           <h5 ng-repeat="person in data[$index].kk track by $index">{{person}}</h5>
           <a  ng-click="remove(data[$index].key, data[$index].k)" id="rmv"> Odwołaj zajęcia  <i class="fa fa-times" aria-hidden="true"></i> </a>
        </div>
        </div>
    </div>
</div>

<div class="gray">
<div ng-repeat="pr in products track by $index">
          <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-sm-3">
              <div class="blacky"></br>
		            <p class="day"> {{pr.key}}</br> </p>
                <h6 ng-repeat="pp in pr.kk track by $index">{{pp}}</h6>
              </div>
            </div>
          </div>
        </div>