   <div class="animate-show animate-hide" ng-show="more">
          <h1>Mo Land <br/> Live Prettier</h1>
          <a class = "btn-main" href="/" ng-click="more()"> Dowiedz się więcej </a>
    </div>

<div   class="animate-show animate-hide supporting" ng-show="sup" ng-hide="more">
  <button type="button" ng-click="less()" class="close" aria-label="Close">
  <span aria-hidden="true" >&times;</span>
</button>
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <img src="./images/hoop.jpg" alt="hoop image">
          <h2>Aranżacje ogrodowe.</h2>
          <p>Zachwycaj się swoim ogrodem każdego dnia</p>
          <a href="ae#ae" > Szczegóły </a>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <img src="./images/pole.jpg" alt="pole image">
          <h2>Ozdoby weselne</h2>
          <p>Wyjątkowy dzień wymaga niezwykłej oprawy</p>
              <a href="pd" > Szczegóły </a>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <img src="./images/fun.png" alt="fun image">
          <h2>Ozdoby okolicznościowe</h2>
          <p>Zadbaj o piękne i nietypowe dekoracje</p>
              <a href="dev" > Szczegóły </a>
      </div>
      <div class="clearfix"></div>
    </div>

