html, body {
  margin: 0;
  padding: 0;
  /*background: url("http://25.media.tumblr.com/98aec9f019a3eab0563695cac9e19cd3/tumblr_miaiuikwRt1qdeuyro1_1280.jpg")no-repeat center center fixed;*/
  
background: url("https://static1.squarespace.com/static/506c697fc4aaef0cba44e226/t/5421901ae4b0d5fed94b1ee8/1411485730286/Lilli+Muehleisen+Aerial+Hoop.jpg?format=1500w")no-repeat center center fixed;
 background-size:cover;
 font-family: 'Helvetica';
}
@media only screen and (max-width : 620px) {
  body { width: 100%; max-width: 100%; height: auto;
 }
}

@media only screen and (max-width : 620px) {
	background: url("https://static1.squarespace.com/static/506c697fc4aaef0cba44e226/t/5421901ae4b0d5fed94b1ee8/1411485730286/Lilli+Muehleisen+Aerial+Hoop.jpg?format=1500w") no-repeat center center fixed;
}
@font-face {
    font-family: youregone;
    src: url(bower_components/font-awesome/fonts/rouge.ttf);
}

 a.blackbird {
  font-family: youregone;
  text-transform: capitalize !important;
  font-size: 26px !important;
  
}
@media only screen and (min-width: 1000px) {
.container{
  width: 640px;
    color: #fff;
}
}
.container {
  margin: 0 auto;
  color: #fff;
}
ul {
  display: inline-block !important;
}

.icon {
  display: none !important;
}

@media screen and (max-width:680px) {
  ul.nav-left a:not(:first-child) {display: none;}
  ul.nav-left a.icon {
    float: right;
    display: inline-block !important;
  }
}
@media screen and (max-width:680px) {
  ul.top-left.responsive {position: relative;}
  ul.top-left.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
   ul.nav-left.responsive a:not(:first-child){
    display: block !important;
    text-align: left;
  }
}
.header {
   /*// background-color: #333333;*/
  background-color: rgba(0, 0, 0, 0.2); 
  height: 60px; 
  position: fixed;
  width: 100%;
  display: inline-block;
  z-index: 9999;
}

@media screen and (max-width:680px) {
.header {
  background-color: transparent;
}
}
.nav-left {
 
}

.btn-main {
   
    background-color: #222;
    font-family: 'Helvetica';
    text-transform: uppercase;
    padding: 20px 40px 20px 40px;
    letter-spacing:2px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.btn-main:hover  {
  color: #54E5BF;
  text-transform: uppercase;
      text-decoration: none;
}
.header a {
    text-transform: uppercase;
    text-decoration: none;
        margin-top: 20px;
        display: inline-block;
        width: 130px;
        letter-spacing: 2px;
        font-size: 16px;
        color: #54E5BF;
        z-index: 9999;
       
      
}
.header a:hover {
        text-shadow: 0 0 5px #FFF      
}

.jumbotron {
  height: 800px;
  background-color: transparent !important;

}

.nav {
  margin: 5px;
  padding: 20px 40px;

}
.header .container .nav {
  position: fixed; 

}
.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.pull-right a {
  margin-top: 20px;
  width: 160px;
}
@media screen and (max-width:680px) {
  .pull-right a {
    display: block;

  }
  .col-xs-12{
    width: 100%;
    display: block;
  }
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #54E5BF;
  font-weight: 600;
  font-family: youregone;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: capitalize;
}

.supporting {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 102px;
}

.supporting h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.supporting p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
  color: #333;
  
}

.supporting a {
    border: solid #333 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    padding: 10px 20px 10px 20px;
}

.supporting a:hover {
    box-shadow: 5px 5px  5px #54E5BF;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 940px;
   }   
}