<div>

<div class="gray">
	<div id="mydiv" ng-hide="loaded">
    <img src="./images/loading.gif" class="ajax-loader"/>
</div>
    <p><i ng-show="back" ng-click="subtract()" class="fa fa-chevron-left" aria-hidden="true"></i> {{from}} - {{to}} <i ng-click="addWeek()" class="fa fa-chevron-right" aria-hidden="true"></i></p>
    <div class="cardie" ng-repeat="x in data.days track by $index">
    <p class="day"> {{x.name}}</p>
       <div class="hour" ng-mouseenter="learnmore=true" ng-mouseleave="learnmore=false" ng-click="addMe(x['17'], x['day'], '17:00')"> <h4>{{x['17']}}  </h4> </div>
 <!--         <h4 ng-show="learnmore"> O zajęciach _</h4></div>  -->    
     <div class="hour" ng-click="addMe(x['18'], x['day'], '18:00')"> <h4>{{x['18']}}</h4></div>
        <div class="hour"ng-click="addMe(x['19'], x['day'], '19:00')"> <h4>{{x['19']}}</h4></div>
        <div class="hour" ng-click="addMe(x['20'],x['day'], '20:00')"><h4>{{x['20']}}</h4></div>
    </div>
</div>
</div>