 <div class="container-fluid">
        <div class="container-fluid">
            <div class="graynont">
<!--                 <div class="row">
                    <div class="col-xs-6 col-md-3 ">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://d13z1xw8270sfc.cloudfront.net/origin/97014/srt083l.jpg"></a>
                        <a href="#">Add to cart</a>        <br>
                        <h5> 13€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://www.yourpolepal.com/images/pleaser-stilettos.jpg"></a>
                        <a href="#">Add to cart</a>  <br>
                        <h5> 199€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://vayzo.com/images/stories/pole-dancing-shoes-.jpg"></a>
                        <a href="#">Add to cart</a> <br>
                        <h5> 111€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://i58.tinypic.com/dbib80.jpg"></a>
                        <a href="#">Add to cart </a>   <br>
                        <h5> 188€</h5></div>

                </div>


                <div class="row">
                    <div class="col-xs-6 col-md-3 ">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=20517521"></a>
                        <a href="#">Add to cart</a>        <br>
                        <h5> 13€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail"
                                         src="https://images-eu.ssl-images-amazon.com/images/I/41e-+wYTQiL._AC_UL260_SR200,260_.jpg"></a>
                        <a href="#">Add to cart</a>  <br>
                        <h5> 199€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="https://spiceup.com.au/media/catalog/product/cache/1/image/500x500/9df78eab33525d08d6e5fb8d27136e95/k/i/kiss-209-temch.jpg"></a>
                        <a href="#">Add to cart</a> <br>
                        <h5> 111€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="https://pierrettew.files.wordpress.com/2014/12/metalic.jpg?w=300&h=300"></a>
                        <a href="#">Add to cart </a>   <br>
                        <h5> 188€</h5></div>
                </div>
            </div> -->

</div>
</div>
</div>

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
  <div class ng-repeat="products in bras">
      <md-card md-theme="dark-grey" md-theme-watch>
                    <md-card-title>
          <md-card-title-media>
            <div class="sm-media-lg card-media">
                <img ng-src="{{products.img}}" /></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">

          <md-button>{{products.cena | currency: "PLN"}}</md-button>
          <md-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></md-button>
        </md-card-actions>
      </md-card>
</div>

</md-content>
  <md-content class="md-padding" layout-xs="column" layout="row">
  <div class ng-repeat="products in heels">
      <md-card md-theme="dark-grey" md-theme-watch>
        <md-card-title>
          <md-card-title-media>
            <div class="sm-media-lg card-media">
                <img ng-src="{{products.img}}" /></div>
                <p class='day'>  {{products.name}} </p>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>{{products.cena  | currency : "PLN"  }}</md-button>
          <md-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></md-button>
        </md-card-actions>

      </md-card>
</div>

</md-content>
</div>


<!--          
                <button  type="submit" class="btn btn-default" ng-click="upload();">UP..
                  <i class="fa fa-upload" aria-hidden="true"></i>
                </button> -->