 <div class="container-fluid">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 ">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://d13z1xw8270sfc.cloudfront.net/origin/97014/srt083l.jpg"></a>
                        <a href="#">Add to cart</a>        <br>
                        <h5> 13€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://www.yourpolepal.com/images/pleaser-stilettos.jpg"></a>
                        <a href="#">Add to cart</a>  <br>
                        <h5> 199€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://vayzo.com/images/stories/pole-dancing-shoes-.jpg"></a>
                        <a href="#">Add to cart</a> <br>
                        <h5> 111€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT59vSL26m1mpc63zJyYNeNcoT6noQZpA7RF6XxD5egDFyQvl1Q3w"></a>
                        <a href="#">Add to cart </a>   <br>
                        <h5> 188€</h5></div>

                </div>
            </div>
        </div>

