 <div class="container-fluid">
        <div class="container-fluid">
            <div class="graynont">

</div>
</div>
</div>

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
  <div class ng-repeat="products in bras">
      <md-card md-theme="dark-grey" md-theme-watch>
                    <md-card-title>
          <md-card-title-media>
            <div class="sm-media-lg card-media">
          <a ng-href="bra/{{products.id}}"><img ng-src="{{products.img}}" /> </a></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>{{products.cena | currency: "PLN"}}</md-button>
          <md-button><i ng-click="buy(products.name)" class="fa fa-shopping-cart" aria-hidden="true"></i></md-button>
        </md-card-actions>
      </md-card>
</div>

</md-content>
  <md-content class="md-padding" layout-xs="column" layout="row">
  <div class ng-repeat="products in heels">
      <md-card md-theme="dark-grey" md-theme-watch>
        <md-card-title>
          <md-card-title-media>
            <div class="sm-media-lg card-media">
                <img ng-src="{{products.img}}" /></div>
                <p class='day'>  {{products.name}} </p>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>{{products.cena  | currency : "PLN"  }}</md-button>
          <md-button><i ng-click="buy(products.name)" class="fa fa-shopping-cart" aria-hidden="true"></i></md-button>
        </md-card-actions>

      </md-card>
</div>

</md-content>
</div>


<!--          
                <button  type="submit" class="btn btn-default" ng-click="upload();">UP..
                  <i class="fa fa-upload" aria-hidden="true"></i>
                </button> -->