 <div class ="registercard">
    <section>
        <form>
        	<label class="day" for="username">User e-mail:</label> <br> <br>
            <input type="email" placeholder="blackbird@mail.com" ng-model="email" id="username"> <br> <br>
            <label class="day" for="password">Password:</label> <br> <br>
            <input type="password" ng-model="password" id="password"> <br> <br>
            <label class="day" for="password">Confirm password:</label> <br> <br>
            <input type="password"ng-model="passwordconfirm"> <br> <br>
            <a id="reg" ng-click="handleSignUp()">Register</a> <br> <br>
        </form>
    </section>
</div>