 <div class ="registercard">
    <section>
        <form>
        	<label class="day" for="username">Adres e-mail użytkownika:</label> <br> <br>
            <input type="email" placeholder="blackbird@mail.com" ng-model="email" id="username"> <br> <br>
            <label class="day" for="password">Hasło:</label> <br> <br>
            <input type="password" ng-model="password" id="password"> <br> <br>
            <label class="day" for="password">Powtórz hasło:</label> <br> <br>
            <input type="password"ng-model="passwordconfirm"> <br> <br>
            <a id="reg" ng-click="handleSignUp()">Zarejestruj</a> <br> <br>
        </form>
    </section>
</div>