<div class="container">
                <img class="col-lg-6" ng-src="./images/kat2.jpg" />
                    <img class="col-lg-6" ng-src="./images/pdr.jpg" />
                    <div class="graycard pull-right col-lg-7">
                                  <a class="article" name="ae"> Oderwij się od ziemi i przekrocz granice, jakie postawiła Ci grawitacja. Dokonuj karkołomnych wyczynów z udziałem obręczy Aerial Hoop.</p> </div>

</div>
<div class="container">
                          <img class="col-lg-12" ng-src="./images/kat3.jpg" /><br><br>
                                          <div class="col-lg-6 graycard">
                <a class="article" name="dev"> Pole dance to doskonały trening siłowy, dobra gimnastyka, dużo rozciągania i świetna zabawa. Już po kilku tygodniach zauważysz ogromną różnicę w samopoczuciu, Twoje ruchy nabiorą wdzięku, a kondycja zdecydowanie się poprawi. I nie zapominaj o walorach estetycznych - niewiele jest tak efektownych tańców, jakim jest Pole Dance</p></div>
      </div></div>
      <div class="container">
              <div class="graycard col-lg-5 pull-right">
                <a class="article" name="ww"> Efektowny taniec wymaga wyjątkowej oprawy. Zapoznaj się z kolekcją Wonder Women, zaprojektowaną przez trenerkę Kasię</p></div>
<ng-src="../img/kat4.jpg"/>
            <div class="pull-left solid">
                <img ng-src="./images/kat5.jpg" /></div>

          </md-card-title-media>

</div>