<div class="container">
              <div class="graycard pull-right">
                <p class='day'>  Pole dance to doskonały trening siłowy, dobra gimnastyka, dużo rozciągania i świetna zabawa. Już po kilku tygodniach zauważysz ogromną różnicę, Twoje ruchy nabiorą wdzięku, a kondycja zdecydowanie się poprawi. I nie zapominaj o walorach estetycznych - niewiele jest tak efektownych tańców, jakim jest Pole Dance</p></div>
<ng-src="../img/kat4.jpg"/>
            <div class="pull-left solid">
                <img ng-src="./images/kat5.jpg" /></div>

          </md-card-title-media>

</div>