<div class="container">
                <div class="pull-right graycard">
                <p class="article"> Pole dance to doskonały trening siłowy, dobra gimnastyka, dużo rozciągania i świetna zabawa. Już po kilku tygodniach zauważysz ogromną różnicę, Twoje ruchy nabiorą wdzięku, a kondycja zdecydowanie się poprawi. I nie zapominaj o walorach estetycznych - niewiele jest tak efektownych tańców, jakim jest Pole Dance</p></div>

          
                <img class="col-lg-12" ng-src="./images/kat3.jpg" /></div>
      </div>